<div class="col-md-2">

</div>

<div class="col-md-7">
	<div class="row">
		<lavel>Shopping Cart</lavel>
	</div>
	<div class="row">
		<div class="col-md-2">
			Image of Project
		</div>
		<div class="col-md-5">
			Product Name
		</div>
		<div class="col-md-1">
			<label>Price of the Product</label>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-7">
			Total
		</div>
		<div class="col-md-1">
			<label>Price of the Product</label>
		</div>
	</div>

</div>
<div class="col-md-3">

</div>